  body {
    background-color: #F6F5F5;

  }

  h1 {
    color: #276678;
  }
  h3
  {
    color: #1687A7;

  }

  hr {
    border-color: #79A3B1;
    border-style:none none solid ;
    border-width: 2px;
    height: 30px;
    width: 99%;

  }

.timeFrame{
  color: #79A3B1;
}


  #dotted{
    border-style: none none dotted;
    border-color: #79A3B1;
    height: 0px;
    border-width: 7px;
    width: 5%;
  }

#request{
  text-align: left;
}
